@import "./scss/variable.scss";

.btn {
    display: inline-block;
    background: $blue;
    border: 1px solid darken($blue, 5%);
    padding: .5em 2em;
    color: white;
    margin-right: .5em;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%);
    font-size: 14px;
    &:hover {
        background: lighten($blue, 5%);
    }
    &:active {
        background: $blue;
        box-shadow: inset 0px 1px 1px fadeout(black, 90%);
    }
    &:focus {
        outline: none;
    }
}